.background-div {
    background-image: url('../../images/landing-page.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 1.61;
}
