@use "../abstracts" as *;

$theme-colors: (
    "primary": $custom-black,
    "secondary": $baltic-sea,
    "success": $silk,
    "info": $silk,
    "warning": $silk,
    "danger": $silk,
    "light": $silk,
    "dark": $silk,
);

$body-color: $custom-black;
$body-bg: $baltic-sea;

$border-color: $silk;

$font-family-base: Quicksand, sans-serif;